h1{
    color: #C3C3C3;
    text-align: center;
}

#triangulo{
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

#pause{
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
}

#asa-esquerda{
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    width: 0;
    display: inline-block;
    
}

#asa-direita{
    border-right: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    width: 0;
    display: inline-block;
}

#reto{
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}

#borboletaAlura{
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    width: 0;
}