body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color: #F2FFFC;
}

h1, h2{
    font-family: "Open Sans Condensed","Arial",sans-serif;
}

main h1{
    padding: 25px;
}
h1{
    background-color: #851944;
    text-align: center;
    color: #FAFFFA;
}

p{
    text-align: justify;
}

blockquote{
 background-color: #D9E5E3;
    padding: 20px;
}

nav{
    background-color: #3C1D3D;
    color: #F2FFFC;
}

nav a,footer{
    color: #F2FFFC;
}

footer{
    background-color: #000000;
}
main a{
    color: #851944;
}
aside a{
    font-family: "Open Sans Condensed",sans-serif;
    color: inherit;
}
aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside, footer{
    padding: 20px;
}