body{
    font-family: "Roboto",serif;
    background-color: #F2FFFC;
}

h1, h2{
    font-family: "Roboto",sans-serif;
}

h1{
    background-color: #851944;
    text-align: center;
    color: #FAFFFA;
    font-weight: bold;
}

p{
    text-align: justify;
}