body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2{
    font-family: "Open Sans Condensed","Arial",sans-serif;
}

main h1{
    padding: 25px;
    font-size: 60px;
}
h1{
    background-color: #851944;
    text-align: center;
    color: #FAFFFA;
    border-bottom: 10px #000000 solid;
}

h2{
    font-size: 30px;
}

p{
    text-align: justify;
    padding: 20px 0;
}

blockquote{
    background-color: #D9E5E3;
    padding: 20px;
    width: 250px;
    box-sizing: border-box;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #FFF;
    margin: 20px 40px;
}

nav{
    background-color: #3C1D3D;
    color: #F2FFFC;
}


main a{
    color: #851944;
}
.navegacao a{
    font-family: "Open Sans Condensed",sans-serif;
    color: inherit;
    text-transform: lowercase;
}

.navegacao h1{
    font-size: 30px;
    margin-bottom: 25px;
}

.navegacao {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    font-size: 30px;
}

#corpo{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.sociais li {
    display: inline-block;
}

.sociais li a{
    width: 40px !important; 
    height: 40px !important; 
    color: transparent;
    font-size: 0;
    padding: 40px 0 0 40px;
}

.sociais #twitter{
    background: url("twitter.png") no-repeat scroll 0 0;
}

.sociais #github{
    background: url("github.png") no-repeat scroll 0 0;
}

.sociais #linkedin{
    background: url("linkedin.png") no-repeat scroll 0 0;
}

.rodape-pagina{
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.artigo{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.leiaMais{
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.tituloPrincipal, .navegacao{
    text-transform: uppercase;
}

.fiat{
    float: left
}

.petrobras{
    float: right;
}